:root {
  --primary-text-color: #757575;
  --secondary-text-color: #2196f3;
  --third-color: #ffffff;
  --forth-text-color: #212121;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--third-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Header styles */
.header {
  border: 1px solid #ececec;
}
.logo {
  text-decoration: none;
  margin-right: 93px;
  padding-top: 24px;
}
.logo-web {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
.logo-studio {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
}
.nav-items {
  display: flex;
}
.nav {
  display: flex;
  margin-right: 354px;
}
.nav-list {
  display: flex;
  
}
.contact-list {
  display: flex;
  padding-top: 32px;
}
.nav-list-item {
   padding-top: 32px;
   padding-bottom: 32px;
   display: block;
   cursor: pointer;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav-list-item a {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--forth-text-color);
  text-decoration: none;
}
.nav-list-item a:hover,
.nav-list-item a:focus,
.contact:hover,
.contact:focus,
.contact-footer:hover,
.contact-footer:focus,
.contact-address:hover,
.contact-address:focus {
  color: var(--secondary-text-color);
}
.nav-list-item.current a {
  color: var(--secondary-text-color);
}
.contact {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
.contact-list-item:not(:last-child) {
  margin-right: 40px;
}
/* Hero styles */
.hero {
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--third-color);
  text-transform: uppercase;
  width: 696px;
  margin: auto;
  margin-bottom: 30px;
}
.hero-btn {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 24px;
  border-radius: 4px;
  color: var(--third-color);
  background: var(--secondary-text-color);
  cursor: pointer;
  border: 0px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* Advantages styles */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-bottom: 50px;
}
.advantages {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.advantages-list {
  flex-basis: calc((100%-120px)/4);
  margin-left: 30px;
  margin-top: 30px;
}
.advantages-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--forth-text-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.advantages-description {
  line-height: 1.71;
}
/* Services and Team styles */
.section-service {
  padding-bottom: 94px;
}
.services,
.team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--forth-text-color);
  text-align: center;
}
.service-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}
.service-item {
  flex-basis: calc((100%-90px)/3);
  margin-left: 30px;
  margin-top: 30px;
}
.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}
.team-item {
  flex-basis: calc((100%-120px)/4);
  margin-left: 30px;
  margin-top: 30px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.team {
  background: #f5f4fa;
}

.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--forth-text-color);
  margin-bottom: 10px;
}
.teammate-description {
  font-size: 16px;
  line-height: 1.18;
}
/* Footer styles */
.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-web-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  color: #2196f3;
}
.logo-link {
  text-decoration: none;
  margin-bottom: 28px;
  display: block;
}
.logo-studio-footer {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
  color: var(--third-color);
}
.contact-footer-link {
  color: #ffffff99;
  display: flex;
}
.contact-footer-item:not(last-child) {
  margin-bottom: 12px;
}
.contact-footer {
  margin-top: 12px;
}
.address {
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
}
.contact-address {
  color: var(--third-color);
}
/* Portfolio styles */
.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}
.filters-btn {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--forth-text-color);
  text-align: center;
  background: #f5f4fa;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
}
.filters-btn:active,
.filters-btn:hover {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: var(--third-color);
  text-align: center;
  background: var(--secondary-text-color);
  cursor: pointer;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.product-item {
  margin-left: 30px;
  margin-top: 30px;
}
.product-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.product-name {
  font-weight: 700;
  font-size: 18px;
  color: var(--forth-text-color);
  line-height: 2;
  margin-bottom: 4px;
}
.product-link {
  text-decoration: none;
}
.product-category {
  font-size: 16px;
  color: var(--primary-text-color);
  line-height: 1.87;
}

